apiVersion: fluentbit.fluent.io/v1alpha2
kind: ClusterFilter
metadata:
  name: java-log-modifier
  labels:
    fluentbit.fluent.io/enabled: "true"
    fluentbit.fluent.io/component: filter
spec:
  match: java.*
  filters:
    - recordModifier:
        records:
          - type java
